:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:2.75rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #FFFDFA;   
    color: #2B2B23;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:123px;
    padding:1.5em;
}

.header-btn{
   background-color: var(--primary-color);
   font-size:1.5rem;
   color:var(--black-color);
   padding:1rem;
   width:99px;
   height:68px;
   border:none;
   border-radius:6px;
}

img{
    width:118.15px;
    height:101px;
}

ul{
    display:flex;
    display:none;
    gap:2em;
}

li{
    list-style:none;

}

li a{
    text-decoration: none;
}

a{
    text-decoration: none;
}

.hero-section{
    position:relative;
    border:2px solid green;
    background: #FFE946;
    height:776px;
    padding:2.5em ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1em;
}

.hero-text-container{
    display:flex;
    flex-direction: column;
    gap:2em;

}
/* .ellipse-1,.ellipse-2,.ellipse-3{
    display:none;
} */

.ellipse-1,.ellipse-2,.ellipse-3{
  position: absolute;
}
.ellipse-1{
    width:79.26px;
    height:166.16px;
    top:-100px;
    left:-35px;
    z-index:1;
    transform: rotate(-7deg);

}
.ellipse-2{
   width:120px;
   height:150px;
   bottom:0;
   left:-50px;
   z-index:1;
   /* border:2px solid red; */
}
.ellipse-3{
    width:252.12px;
    height:155.92px;
}


.ellipse-3{
    top:0;
    right:0;
    z-index:1;
    border:2px solid blue;
}


.hero-heading-text{
  font-size:2.5rem;
  font-weight:600;
  line-height:100%;
  letter-spacing:-1%;
  z-index:2;
}

.hero-subheading-text{
  font-size:var(--subheading-mobile);
  font-weight:300;
  line-height:150%;
  z-index:4;
}

.hero-btn{
  background-color: var(--black-color);
  color:var(--primary-color);
  font-size:1.125rem;
  font-weight: 500;
  letter-spacing:2%;
  padding: 1em 1.5em;
  border-radius:99px;
  z-index:2;
}

.hero-img{
    width:300px;
    height:400px;
    transform:rotate(60deg);
    z-index:2;
   
}


/* Social-Proof Section */
.companies-section{
   display:flex;
   gap:64px;
   border:2px solid var(--black-color);
   padding:1.5em;
   margin:1.5em 0;
}

.company-img-container{
  display:flex;
  gap:5em;
  overflow:hidden;
}

.social-proof-img{
  width:70px;
  height:70px;
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* About Section */
.about-section{
  border:2px solid var(--black-color);
  background-color: var(--secondary-color);
  border-radius: 20px;

}

.about-img{
   width:100%;
   height:700px;
   border-radius: 20px;
}

.about-text-container{
  display:flex;
  flex-direction: column;
  gap:1.5em;
  margin-top:1.5em;
  padding:2em;
}

.about-btn{
  background-color: var(--black-color);
  color:var(--primary-color);
  padding:1em 1.5em;
  width:226px;
  border-radius: 40px;
  border:none;
}

button:hover{
  opacity:0.8;
}



@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
  body {
    background-color: #63c971;
    color: #fff;
  }

  ul{
    display:block;
  }
  .hero-section{
    position:relative;
    border:2px solid green;
    background: #FFE946;
    height:935px;
    padding:2.5em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .ellipse-1,.ellipse-2{
    width:245.28px;
    height:325.83px;
  }

  .ellipse-3{
      width:252.12px;
      height:155.92px;
  }

  .ellipse-1{
    top:0;
    left:0;
    z-index:1;
    border:2px solid orange;
  }

  .ellipse-2{
    bottom:0;
    left:0;
    z-index:1;
    border:2px solid red;
  }

  .ellipse-3{
    top:0;
    right:0;
    z-index:1;
    border:2px solid blue;
  }
  
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}




