:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:1.25rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    background-color: var(--secondary-color);   
    color:var(--black-color);
    font-family: "Poppins", sans-serif;
}

header{ 
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    height:90px;
    padding:1.5em;
}

.header-right{
  display:block;
}

.header-btn{
  display:none;
}

main{
  display:flex;
  flex-direction: column;
  width:100%;
  gap:4rem;
}

.header-btn{
   background-color: var(--primary-color);
   font-size:1.5rem;
   color:var(--black-color);
   padding:1rem;
   width:99px;
   height:68px;
   border:none;
   border-radius:6px;
}

img{
    width:118.15px;
    height:101px;
}

ul{
    display:flex;
    gap:2em;
}

li{
    list-style:none;

}
a{
  color: var(--black-color);
  
}

.CTA-btn a{
  color:white !important;
  text-decoration: none;
}

li a{
    text-decoration: none;
}


.nav-link:hover{
 opacity:.7;
 cursor:pointer;
}

/* Hero Section */
.hero-section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap:10em;
    background:var(--secondary-color);
    border:2px solid var(--black-color);
    height:100%;
    padding:2.5em;
    margin:0 2em;
    border-radius:20px;
    position:relative;
}

.about-hero{
  background:var(--black-color);
  color:var(--primary-color);
}


.about-hero-text{
  font-size:5rem;
  margin-top:0.75em;
}

.about-hero-img{
 position: absolute;
  width:170px;
  height:170px;
}

.hero_text-img{
  width:60px;
  height:60px;
  top:150px;
  left:270px;
  
}
.hero-img1{
  top:0;
  left:0;
 
}

.hero-img2{
  top:0;
  right:0;

}


.hero-img3{
  bottom:0;
  left:0;
}

.hero-img4{
  bottom:0;
  right:200px;
}

.hero-img5{
  bottom:0;
  right:0px;
}




/* .ellipse-1,.ellipse-2,.ellipse-3{
    display:none;
} */



/* About Section */
.about-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding:2.5rem 2rem;
  
}

.about-ceo-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
}

.about-top-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:.5em;
}

.about-img{
   width:100%;
   height:100%;
   max-height:600px;
   object-fit:cover;
   border-radius: 20px;
}

.about-down-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:.5em;
}

.about-cfo-section,.about-cto-section{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:2em;
}


.about-cfo-left-container,.about-cto-left-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-cfo-top{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap:.5em;
}



/* Testimonial Section */

.testimonial-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em;
  margin:0;
}

.test-img-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  overflow:visible;
}

.test-img{
  width:350px;
  height:568px;
  
}



/* Footer Section */

footer{
  background-color:var(--secondary-color);
  border:2px solid rgb(18, 36, 136);
  padding:2.5em 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
  margin:0;
  width:100%;
 
}
.footer-first-section{
  width:100%;
}
.footer-subtitle-text{
  font-size:12px;
  margin-bottom:2em;
}
.footer-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-transform:capitalize;
}

.footer-input-container{
  display:flex;
  flex-wrap: wrap;
  align-items:baseline;
  gap:1em;


}
.footer-input{
  width:355px;
  height:50px;
  border-radius:30px;
  border:1px solid var(--black-color);
  margin-top:2em;
  padding:1.5em
}
.footer-btn a{
  text-decoration: none;
  
}
.footer-btn{
  width:100px;
  padding:1em;
  border-radius:30px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.footer-btn:hover{
  color:var(--primary-color);
  background-color: var(--black-color);
  opacity:.8;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}

.footer-socials{
  margin-top:2em;
  font-size:14px;
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  
}

.footer-socials a{
  color:var(--black-color);
}

.footer-display-text{
  font-size: 12vw;
  font-weight: bold;
  word-wrap:break-word;
 
}

.legacy-copy{
  width:100%;
}
.legacy-copy,.right-legacy-copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  font-size: 14px;
  margin:0;

}



