:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:1.25rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    background-color: var(--primary-color);   
    color:var(--black-color);
    font-family: "Poppins", sans-serif;
}

header{ 
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    height:90px;
    padding:1.5em;
}

.header-right{
  display:block;
}

.header-btn{
  display:none;
}

main{
  display:flex;
  flex-direction: column;
  width:100%;
  gap:4rem;
}

.header-btn{
   background-color: var(--primary-color);
   font-size:1.5rem;
   color:var(--black-color);
   padding:1rem;
   width:99px;
   height:68px;
   border:none;
   border-radius:6px;
}

img{
    width:118.15px;
    height:101px;
}

ul{
    display:flex;
    gap:2em;
}

li{
    list-style:none;

}
a{
  color: var(--black-color);
  
}

.CTA-btn a{
  color:white !important;
  text-decoration: none;
}

li a{
    text-decoration: none;
}


.nav-link:hover{
 opacity:.7;
 cursor:pointer;
}



/* Contact Section */
.contact-section{
    position:relative;
    background:var(--secondary-color);
    border:2px solid var(--black-color);
    width:100%;
    height:100%;
    padding:2.5em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    gap:4em;
    
}

.contact-img{
    /* Making The Image Fit The Desktop Screen Perfectly */
   /* width:664px;
   max-width:100%;
   height:570px; */
   width:100%;
   max-width:664px;
   height:100%;
   object-fit:cover;
   border-radius: 10px;
}


.contact-container{
   display:grid;
   grid-template-columns:repeat(2,1fr);
   justify-content: center;
   align-items: center;
   gap:2em;

   
}

form{
    display:flex;
    flex-direction: column;
    gap:2em;
    width:100%;
}

.name-input,.number-input{
 width:100%;
 height:40px;
 padding:0.75em;
 border-radius:20px;


}
.name-input,.number-input,textarea{
 background-color: transparent;
 border: 1px solid var(--black-color);
}
.name-input::placeholder,.number-input::placeholder{
    color:#181816b5
}

textarea{
    height:200px;
    resize: none;
    border-radius: 20px;
    
}

.contact-btn{
  width:100%;
  padding:1em;
  border-radius:10px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.contact-btn:hover{
  color:var(--secondary-color);
  background-color: var(--black-color);
  opacity:.9;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}



/* Footer Section */

footer{
  background-color:var(--secondary-color);
  padding:2.5em 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
  margin:0;
  width:100%;
 
}
.footer-first-section{
  width:100%;
}
.footer-subtitle-text{
  font-size:12px;
  margin-bottom:2em;
}
.footer-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-transform:capitalize;
}

.footer-input-container{
  display:flex;
  flex-wrap: wrap;
  align-items:baseline;
  gap:1em;


}
.footer-input{
  width:355px;
  height:50px;
  border-radius:30px;
  border:1px solid var(--black-color);
  margin-top:2em;
  padding:1.5em
}
.footer-btn a{
  text-decoration: none;
  
}
.footer-btn{
  width:100px;
  padding:1em;
  border-radius:30px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.footer-btn:hover{
  color:var(--primary-color);
  background-color: var(--black-color);
  opacity:.8;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}

.footer-socials{
  margin-top:2em;
  font-size:14px;
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  
}

.footer-socials a{
  color:var(--black-color);
}

.footer-display-text{
  font-size: 12vw;
  font-weight: bold;
  word-wrap:break-word;
 
}

.legacy-copy{
  width:100%;
}
.legacy-copy,.right-legacy-copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  font-size: 14px;
  margin:0;

}


@media (max-width: 768px) {


/* Footer Styling */
.footer-display-text{
  font-size: 3.7rem;
  width:100%;
}
.footer-input{
  width:100%;
}

.footer-btn{
  width:100%;
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
} */

/* For Mobile Portrait View */
/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
  body{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
} */

}

/* Media Responsive For Tablet Viewport */
@media (max-width: 800px) {

 .contact-section{
    padding:1.5em;
 }
 .contact-img{
   width:100%;

   height:100%;
 }
 .contact-container{
   grid-template-columns: 1fr;
}
}

