:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:1.25rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    background-color: var(--primary-color);   
    color:var(--black-color);
    font-family: "Poppins", sans-serif;
}

header{ 
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    height:90px;
    padding:1.5em;
    border-bottom: 2px solid var(--black-color);
}

.header-right{
  display:block;
}

.header-btn{
  display:none;
}

a{
  color:var(--black-color);
}


.nav-link:hover{
  text-decoration: underline;
}

main{
  display:flex;
  flex-direction: column;
  width:100%;
  gap:7em;
}

.header-btn{
   background-color: var(--primary-color);
   font-size:1.5rem;
   color:var(--black-color);
   padding:1rem;
   width:99px;
   height:68px;
   border:none;
   border-radius:6px;
}

img{
    width:90px;
    height:80px;
}

header{ 
  background-color:var(--secondary-color);
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:sticky;
  top:0;
  height:80px;
  padding:1.5em;
  border-bottom: 2px solid var(--black-color);
 z-index:200;
}

/*Nav link that shows when the menu has been clicked on */

.nav-link{
  display: block;
  color: white;
  text-decoration: none;
}


.nav-link{
  text-decoration:none ;
  list-style: none;
  color:var(--black-color);
  
}

.nav-link:hover{
  text-decoration: underline;
  opacity:.7;
  cursor:pointer;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:2em;
}

.hamburger-container{
  display:none;
}








/* Tablet Mode */

@media (max-width: 600px) {

/*Nav link that shows when the menu has been clicked on */

.nav-link{
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}


.nav-link{
  text-decoration:none ;
  list-style: none;
  
}

.nav-link:hover{
  text-decoration: underline;
  opacity:.7;
  cursor:pointer;
}


.hamburger-container{
  display:block;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 1.2em;
  border: black solid 1px;
  border-radius:6px;
  background: white;
  cursor: pointer;
}
.menu-open,.menu-close{
  font-style: normal;
  font-weight: 600;
  font-size:1rem;
}

.hamburger-container:hover{
  background:var(--black-color);
  color:var(--primary-color);
}
.menu-close{
  display:none;
}

/*Container for all the nav link(e.g home,about,services + [Menu])*/
.nav-links{
  flex-direction: column;
  position:fixed;
  transform:translateY(-150%);
  translate:transform 0.2;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:99;
  background: black;
  list-style: none;
  padding-top: 4rem;
}

.showMenu{
  transform:translateY(0%);
}
  
}
.CTA-btn a{
  color:white !important;
  text-decoration: none;
}


/* Hero Section */
.hero-section{
    height:776px;
    padding:1.5em;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    gap:2em;
    border-radius:20px;
    
}

.gallery-hero{
  z-index:5;
}
.home-icon{
  width:18px;
  height:18px;
}
.gallery-img{
  width:100%;
  height: 100%;
  max-height:600px;
  object-fit: cover;
  border-radius:20px;
}

.gallery-slide,.gallery-icon{
  display:flex;
  justify-content: center;
  align-items: center;
}


.gallery-icon a {
  text-decoration: none;
}

.home-link:hover,.gallery-link:hover{
  text-decoration: underline;
}

.gallery-icon
.gallery-slide{
  gap:1em;
}
.right-arrow,.left-arrow{
  width:32px;
  height:32px;
}

.right-arrow:hover,.left-arrow:hover{
  background: var(--secondary-color);
}


.testimonial-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em 0;
  padding-top:5em;
  padding-bottom:5em;
  margin:0;
  position: relative;
  overflow: visible; /* allow shape to escape */
  z-index: 1;
  background-color: var(--primary-color);
}
.circle-decor-up{
  position: absolute;
  top: 0; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px;       /* prevent collapse */
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.circle-decor-down{
  position: absolute;
  bottom:-5px; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px; 
  height:auto;
  z-index: 0;
  pointer-events: none;
}

/* Testimonial Scroll Animation */

.img_arrow-container{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:.5em;
  min-height:100vh;
  width:100%;
}

.test-arrow{
  position:absolute;
  display:flex;
  justify-content:center;
  top:0;
  bottom:64px;
  margin-block:auto;
  height:fit-content;
  width:40px;
  height:40px;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.test-arrow:hover,.test-arrow:focus{
  opacity:1;
  background: var(--secondary-color);
}

.prev-arrow{
  left:0;
}
.next-arrow{
 right:0;
}

.test-img-container{
  /* display:flex;
  justify-content: space-between;
  align-items: center;
  overflow:visible; */
  display:flex;
  align-items: start;
  gap:0.5em;
  width:100%;
  padding-block:1em 2em;
  margin:1em 3em;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
}

.test-img{
  width:350px;
  height:568px;
  
}

 .test-img-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.test-img-container::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.test-img-container::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.test-img-container::-webkit-scrollbar-track-piece:start {
  background:var(--secondary-color);
} 

.test-img{
  flex: 1 0 30%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}


@media (max-width: 600px) {
  .test-img {
    flex: 1 0 90%;
  }
}

/* Footer Section */

footer{
  position:relative;
  background-color:var(--secondary-color);
  padding:2.5em 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
  margin-top:11em;
  margin:0;
  width:100%;
 
}
.footer-first-section{
  width:100%;
}
.footer-subtitle-text{
  font-size:12px;
  margin-bottom:2em;
}
.footer-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-transform:capitalize;
}

.footer-input-container{
  display:flex;
  flex-wrap: wrap;
  align-items:baseline;
  gap:1em;


}
.footer-input{
  width:355px;
  height:50px;
  border-radius:30px;
  border:1px solid var(--black-color);
  margin-top:2em;
  padding:1.5em
}
.footer-btn a{
  text-decoration: none;
  
}
.footer-btn{
  width:100px;
  padding:1em;
  border-radius:30px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.footer-btn:hover{
  color:var(--primary-color);
  background-color: var(--black-color);
  opacity:.8;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}

.footer-socials{
  margin-top:2em;
  font-size:14px;
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  
}

.footer-socials a{
  color:var(--black-color);
}

.footer-display-text{
  font-size: 12vw;
  font-weight: bold;
  word-wrap:break-word;
 
}

.legacy-copy{
  width:100%;
}
.legacy-copy,.right-legacy-copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  font-size: 14px;
  margin:0;

}



