:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:1.25rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    background-color: var(--primary-color);   
    color:var(--black-color);
    font-family: "Poppins", sans-serif;
}

header{ 
    background-color: var(--secondary-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    height:90px;
    padding:1.5em;
    border-bottom: 2px solid var(--black-color);
    z-index:200;
}

.header-right{
  display:block;
}

.header-btn{
  display:none;
}

/* Container for the nav-link(home,about,etc) */
.nav-links{
  /* background-color:var(--black-color); */
  display:flex;
  gap:2em;
  align-items:center;
}

.nav-links a{
  text-decoration:none ;
  list-style: none;
  color:var(--black-color);
}

li{
  list-style: none;
}

.nav-link:hover{
  text-decoration: underline;
  opacity:.7;
  cursor:pointer;
}

/* Hamburger button */

.menu-toggle {
  margin-left: auto;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}


.header-btn,.close-header-btn{
   background-color: var(--primary-color);
   font-size:1.5rem;
   color:var(--black-color);
   padding:1rem;
   width:99px;
   height:68px;
   border:none;
   border-radius:6px;
   display:none;
}


img{
    width:118.15px;
    height:101px;
}






/* Change the CTA color to white(deferring it from black to white) */
.CTA-btn a{
  color:white !important;
  text-decoration: none;
}



main{
  display:flex;
  flex-direction: column;
  gap:4rem;

}



/* Hero Section */
.hero-section{
    position:relative;
    background:var(--secondary-color);
    border:2px solid var(--black-color);
    height:100%;
    padding:4em;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:4em;
    border-radius:20px;
    margin:0 2em;
    overflow: visible; /* allow shape to escape */
    z-index: 1;
}

/* Tablet Ellipse For All Ellipse */
.ellipse-1,.ellipse-2,.ellipse-3{
  /* width:60vw;
  max-width:1440px;
  min-width:700px;
  height:auto; */
  position:absolute;
  width:100%;
  height:100%;
  max-width:65px;
  z-index: 0;
  pointer-events: none;
}

/* Tablet Ellipse For All Ellipse-1 */
.ellipse-1{
  bottom:400px;
  left:0px;
}

/* Tablet Ellipse For All Ellipse-2 */
.ellipse-2{
  bottom:390px;
  right:0px;
}

/* Tablet Ellipse For All Ellipse-3 */
.ellipse-3{
  bottom:-364px;
  left:0px;
  /* transform:rotate(-70deg); */
  
}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1em;
    margin-bottom:2em;
}

.hero-text-container{
    width:100%;
    max-width:600px;
    /* margin:0 auto; */
}
/* .ellipse-1,.ellipse-2,.ellipse-3{
    display:none;
} */

.hero-heading-text{
  font-size:2.5rem;
  font-weight:600;
  line-height:100%;
  letter-spacing:-1%;
  z-index:2;
}

.hero-subheading-text{
  font-size:var(--subheading-mobile);
  font-weight:300;
  line-height:150%;
  z-index:4;
}

.CTA-btn{
  background-color: var(--black-color);
  color:var(--primary-color) !important;
  font-size:1.125rem;
  font-weight: 500;
  letter-spacing:2%;
  padding: 1em 1.5em;
  border-radius:99px;
  z-index:2;
}



.hero-img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}







/* Social-Proof Section */
.companies-section{
   display:flex;
   gap:64px;
   border:2px solid var(--black-color);
   padding:1.5em;
   margin:1.5em 0;
}

.company-img-container{
  display:flex;
  gap:5em;
  overflow:hidden;
}

.social-proof-img{
  width:70px;
  height:70px;
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* About Section */
.about-section{
  border:2px solid var(--black-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding:2.5rem 2rem;
  margin:0 2em;
  
}

.about-img{
   width:100%;
   height:800px;
   object-fit:cover;
   border-radius: 20px;
}

.about-text-container{
  display:flex;
  flex-direction: column;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em;
  margin:0;
}


.about-subtitle-text{
  font-size: 12px;
  line-height: 120%;
  margin-top:2em;
}

.about-text{
  line-height: 150%;
}


button:hover{
  opacity:0.8;
}


/* Services Section */

.services-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin:0;
  padding:1.5em;
  position: relative;
  overflow: visible; /* allow shape to escape */
  z-index: 1;
  
}

.circle-decor-up{
  position: absolute;
  bottom: -250px; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px;       /* prevent collapse */
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.subtitle_heading{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:.75rem;
}

.services-subtitle-text{
  font-size: 12px;
  line-height: 120%;
 
}

.services-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-align: center;
  text-transform:capitalize;
  
}

.services-list-container{
   display:grid;
   grid-template-columns:repeat(2,1fr);
   gap:2em;
   border:20px solid peach;
}

.service-img{
  width:100%;
  height: 600px;
  object-fit: cover;
  border-radius:10px;
}

.service-heading{
   font-size: var(--heading-3-mobile);
   margin-top:1em;
}

.service-body-text{
   line-height: 140%;
   margin-top:1em;
}

.service-btn{
  width:100%;

}




/* Testimonial Section */

.testimonial-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em;
  margin:0;
  position: relative;
  overflow: visible; /* allow shape to escape */
  z-index: 1;
  padding-bottom:4em;
}

.circle-decor-down{
  position: absolute;
  bottom:-5px; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px; 
  height:auto;
  z-index: 0;
  pointer-events: none;
}


.test-img-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  overflow:visible;
}

.test-img{
  width:350px;
  height:568px;
  
}



/* Footer Section */

footer{
  background-color:var(--secondary-color);
  padding:2.5em 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
  margin:0;
  width:100%;
 
}
.footer-first-section{
  width:100%;
}
.footer-subtitle-text{
  font-size:12px;
  margin-bottom:2em;
}
.footer-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-transform:capitalize;
}

.footer-input-container{
  display:flex;
  flex-wrap: wrap;
  align-items:baseline;
  gap:1em;


}
.footer-input{
  width:355px;
  height:50px;
  border-radius:30px;
  border:1px solid var(--black-color);
  margin-top:2em;
  padding:1.5em
}
.footer-btn a{
  text-decoration: none;
  
}
.footer-btn{
  width:100px;
  padding:1em;
  border-radius:30px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.footer-btn:hover{
  color:var(--primary-color);
  background-color: var(--black-color);
  opacity:.8;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}

.footer-socials{
  margin-top:2em;
  font-size:14px;
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  
}

.footer-socials a{
  color:var(--black-color);
}

.footer-display-text{
  font-size: 12vw;
  font-weight: bold;
  word-wrap:break-word;
 
}

.legacy-copy{
  width:100%;
}
.legacy-copy,.right-legacy-copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  font-size: 14px;
  margin:0;

}





/* Tablet Mode */

@media (max-width: 600px) {

  /* .nav-links {
    display: none;
    flex-direction: column;
    align-items:center;
    width:100%;
    height:auto;
    padding: 2rem 0;
    background:wheat;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }
  
  .nav-links.active{
    display:flex;
  } */

  .nav-links{
    flex-direction: column;
    position:absolute;
    top:5rem;
    left:5rem;
    background: #181816;
    width:100%;
    height:100%;
  }

  .nav-links a{
    display:none;
    width:100%;
    text-align:left;
    color:white;
  }
 /* Open the Nav Links(e.g Home,About,Services etc )*/
  .nav-links.open a{
    display:block;
  }

  

  .menu-toggle{
    display:block;
  }

  .header-btn{
    display:block;
  }
}
@media (max-width: 768px) {

  /* .nav-links {
    position: fixed;
    inset: 0; 
    background: black;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
  }

  .nav-links.showMenu {
    transform: translateY(0);
  }

  .nav-link {
    font-size: 1.8rem;
    color: white;
    margin: 1.5rem 0;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
  }

  .close-header-btn {
    display: none;
  }
} */


.hero-section{
    flex-direction: column;

}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1em;
  
}

.hero-text-container{
    display:flex;
    flex-direction: column;
    gap:2em;
  

}
/* .ellipse-1,.ellipse-2,.ellipse-3{
    display:none;
} */

.hero-heading-text{
  font-size:2.5rem;
  font-weight:600;
  line-height:100%;
  letter-spacing:-1%;
  z-index:2;
}

.hero-subheading-text{
  font-size:var(--subheading-mobile);
  font-weight:300;
  line-height:150%;
  z-index:4;
}

.hero-btn{
  background-color: var(--black-color);
  color:var(--primary-color);
  font-size:1.125rem;
  font-weight: 500;
  letter-spacing:2%;
  padding: 1em 1.5em;
  border-radius:99px;
  z-index:2;
}

.hero-img{
    width:300px;
    height:400px;
    transform:rotate(60deg);
    z-index:2;
 
   
}
/* .ellipse-1,.ellipse-2,.ellipse-3{
  position: absolute;
}
.ellipse-1{
    width:79.26px;
    height:166.16px;
    top:-100px;
    left:-35px;
    z-index:1;
    transform: rotate(-7deg);

}
.ellipse-2{
   width:120px;
   height:150px;
   bottom:0;
   left:-50px;
   z-index:1;
   border:2px solid red;
}
.ellipse-3{
    width:252.12px;
    height:155.92px;
}


.ellipse-3{
    top:0;
    right:0;
    z-index:1;
} */

/* Services-Section Styling */

.services-list-container{
   grid-template-columns: 1fr;
}

/* Footer Styling */
.footer-display-text{
  font-size: 3.7rem;
  width:100%;
}
.footer-input{
  width:100%;
}

.footer-btn{
  width:100%;
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
} */

/* For Mobile Portrait View */
/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
  body{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
} */



}