:root{
    --black-color:#181816;
    --primary-color:#FFFDFA;
    --secondary-color: #FFE946;
    /* Var Text */
    --heading-1:4.294rem;
    --heading-2:3.433rem;
    --heading-3:2.75rem;
    --heading-4:2.2rem;
    --heading-6:1.406rem;
    --subheading:1.125rem;
    --body-text:1rem;
    --CTA-text:1.125rem;

    /*Var Text-Mobile  */
    --heading-1-mobile:2rem;
    --heading-2-mobile:1.5rem;
    --heading-3-mobile:1.25rem;
    --heading-4-mobile:2.2rem;
    --heading-6-mobile:1.406rem;
    --subheading-mobile:1rem;
    --body-text-mobile:1rem;
    --CTA-text-Mobile:1.125rem;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    background-color: var(--primary-color);   
    color:var(--black-color);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

img{
    width:90px;
    height:80px;
}

header{ 
  background-color:var(--secondary-color);
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:sticky;
  top:0;
  height:80px;
  padding:1.5em;
  border-bottom: 2px solid var(--black-color);
 z-index:200;
}

/*Nav link that shows when the menu has been clicked on */

.nav-link{
  display: block;
  color: white;
  text-decoration: none;
}


.nav-link{
  text-decoration:none ;
  list-style: none;
  color:var(--black-color);
  
}

.nav-link:hover{
  text-decoration: underline;
  opacity:.7;
  cursor:pointer;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:2em;
}

.hamburger-container{
  display:none;
}



/* Tablet Mode */

@media (max-width: 600px) {

/*Nav link that shows when the menu has been clicked on */

.nav-link{
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}


.nav-link{
  text-decoration:none ;
  list-style: none;
  
}

.nav-link:hover{
  text-decoration: underline;
  opacity:.7;
  cursor:pointer;
}


.hamburger-container{
  display:block;
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 1.2em;
  border: black solid 1px;
  border-radius:6px;
  background: white;
  cursor: pointer;
}
.menu-open,.menu-close{
  font-style: normal;
  font-weight: 600;
  font-size:1rem;
}

.hamburger-container:hover{
  background:var(--black-color);
  color:var(--primary-color);
}
.menu-close{
  display:none;
}

/*Container for all the nav link(e.g home,about,services + [Menu])*/
.nav-links{
  flex-direction: column;
  position:fixed;
  transform:translateY(-150%);
  translate:transform 0.2;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:99;
  background: black;
  color: orange;
  list-style: none;
  padding-top: 4rem;
}

.showMenu{
  transform:translateY(0%);
}
  
}

/* Change the CTA color to white(deferring it from black to white) */
.CTA-btn a{
  color:white !important;
  text-decoration: none;
}



main{
  display:flex;
  flex-direction: column;
  gap:4rem;

}



/* Hero Section */
.hero-section{
    position:relative;
    background:var(--secondary-color);
    border:2px solid var(--black-color);
    height:100vh;
    padding:4em;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:4em;
    border-radius:20px;
    margin:0 2em;
    overflow: visible; /* allow shape to escape */
    z-index: 1;
}

/* Tablet Ellipse For All Ellipse */
.ellipse-1,.ellipse-2,.ellipse-3{
  /* width:60vw;
  max-width:1440px;
  min-width:700px;
  height:auto; */
  position:absolute;
  width:100%;
  height:100%;
  max-width:65px;
  z-index: 0;
  pointer-events: none;
}

/* Tablet Ellipse For All Ellipse-1 */
.ellipse-1{
  bottom:400px;
  left:0px;
}

/* Tablet Ellipse For All Ellipse-2 */
.ellipse-2{
  bottom:390px;
  right:0px;
}

/* Tablet Ellipse For All Ellipse-3 */
.ellipse-3{
  bottom:-364px;
  left:0px;
  /* transform:rotate(-70deg); */
  
}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1em;
    margin-bottom:2em;
}

.hero-text-container{
    width:100%;
    max-width:600px;
    /* margin:0 auto; */
}
/* .ellipse-1,.ellipse-2,.ellipse-3{
    display:none;
} */

.hero-heading-text{
  font-size:2.5rem;
  font-weight:600;
  line-height:100%;
  letter-spacing:-1%;
  z-index:2;
}

.hero-subheading-text{
  font-size:var(--subheading-mobile);
  font-weight:300;
  line-height:150%;
  z-index:4;
}

.CTA-btn{
  background-color: var(--black-color);
  color:var(--primary-color) !important;
  font-size:1.125rem;
  font-weight: 500;
  letter-spacing:2%;
  padding: 1em 1.5em;
  border-radius:99px;
  z-index:2;
}



.hero-img{
  width: 100%;
  max-width:400px;
  height: 100%;
  object-fit: cover;

}


/* Tablet Mode For Hero Section */

@media (max-width: 600px) {

.hero-section{
    width:100%;
    height:100%;
    
}


/* Group Section + Whatsapp */
.section {
  min-height: 80vh;
  padding: 6rem;
}
}

/* WHATSAPP ICON */
.whatsapp-float {
  position: absolute; /* KEY */
  top: calc(100vh - 5px);
  right: 32px;
  width: 56px;
  height: 56px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: transform 0.2s ease;
}

/* When following user */
.whatsapp-float.is-fixed {
  position: fixed;
  top: auto;
  bottom: 32px;
}

/* When stopped at footer */
.whatsapp-float.is-stopped {
  position: absolute;
}


.whatsapp-float:hover{
transform: scale(1.2);

}


/* Social-Proof Section */
.companies-section{
   display:flex;
   gap:64px;
   border:2px solid var(--black-color);
   padding:1.5em;
   margin:1.5em 0;
}

.company-img-container{
  display:flex;
  gap:5em;
  overflow:hidden;
}

.social-proof-img{
  width:70px;
  height:70px;
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* About Section */
.about-section{
  border:2px solid var(--black-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding:2.5rem 2rem;
  margin:0 2em;
  
}

.about-img{
   width:100%;
   height:100%;
   max-height:400px;
   object-fit:cover;
   border-radius: 20px;
}

.about-text-container{
  display:flex;
  flex-direction: column;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em 0;
  margin:0;
}


.about-subtitle-text{
  font-size: 12px;
  line-height: 120%;
  margin-top:2em;
}

.about-text{
  line-height: 150%;
}


button:hover{
  opacity:0.8;
}


/* Tablet Mode For About Section */

@media (max-width: 600px) {

.about-section{
  border:2px solid var(--black-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding:1.5rem;
  margin:0 2em;
  
}

}

/* Services Section */

.services-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin:0;
  padding:1.5em;
  position: relative;
  overflow: visible; /* allow shape to escape */
  z-index: 1;
  
}

.circle-decor-up{
  position: absolute;
  bottom: -250px; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px;       /* prevent collapse */
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.subtitle_heading{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:.75rem;
}

.services-subtitle-text{
  font-size: 12px;
  line-height: 120%;
 
}

.services-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-align: center;
  text-transform:capitalize;
  
}

.services-list-container{
   display:grid;
   grid-template-columns:repeat(2,1fr);
   gap:2em;
   border:20px solid peach;
}

.service-img{
  width:100%;
  height: 600px;
  object-fit: cover;
  border-radius:10px;
}

.service-heading{
   font-size: var(--heading-3-mobile);
   margin-top:1em;
}

.service-body-text{
   line-height: 140%;
   margin-top:1em;
}

.service-btn{
  width:100%;

}




/* Testimonial Section */

.testimonial-section{
  padding:2.5rem 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  margin-top:1.5em;
  padding:1.5em;
  margin:0;
  position: relative;
  overflow: visible; /* allow shape to escape */
  z-index: 1;
  padding-bottom:4em;
}

.circle-decor-down{
  position: absolute;
  bottom:-5px; /* pushes into service section */
  width: 100vw;            /* scale with viewport */
  max-width: 1440px;      /* desktop ceiling */
  min-width: 600px; 
  height:auto;
  z-index: 0;
  pointer-events: none;
}

/* Testimonial Scroll Animation */
/* 
.img_arrow-container{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:.5em;
  min-height:100vh;
  width:100%;
}

.test-arrow{
  position:absolute;
  display:flex;
  justify-content:center;
  top:0;
  bottom:64px;
  margin-block:auto;
  height:fit-content;
  width:40px;
  height:40px;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.test-arrow:hover,.test-arrow:focus{
  opacity:1;
  background: var(--secondary-color);
}

.prev-arrow{
  left:0;
}
.next-arrow{
 right:0;
}

.test-img-container{

  display:flex;
  align-items: start;
  gap:0.5em;
  width:100%;
  padding-block:1em 2em;
  margin:1em 3em;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
}

.test-img{
  width:350px;
  height:568px;
  
}

 .test-img-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.test-img-container::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.test-img-container::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.test-img-container::-webkit-scrollbar-track-piece:start {
  background:var(--secondary-color);
} 

.test-img{
  flex: 1 0 30%;
  aspect-ratio: 1;
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}


@media (max-width: 600px) {
  .test-img {
    flex: 1 0 90%;
  }
} */

.carousel {
  position: relative;
  width: 100%;

}

/* CAROUSEL-CONTAINER */
.carousel-container{
  overflow: hidden;
}

/* IMG-CONTAINER*/
.test-img-container {
  display: flex;
  width:100%;
  gap:0.5em;
  transition: transform 400ms ease;
}

/* SLIDES */
.test-img {
  flex: 0 0 100%;
  max-width: 100%;
  height:auto;
  object-fit:cover;
}

/* ARROWS */
.test-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

.prev-arrow { left: 10px; }
.next-arrow { right: 10px; }

/* DOTS */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.carousel-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  cursor: pointer;
}

.carousel-dots button.active {
  background: var(--secondary-color);
}


/* Footer Section */

footer{
  background-color:var(--secondary-color);
  padding:2.5em 2em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1.5em;
  margin:0;
  width:100%;
 
}
.footer-first-section{
  width:100%;
}
.footer-subtitle-text{
  font-size:12px;
  margin-bottom:2em;
}
.footer-heading-text{
  font-size: var(--heading-2-mobile);
  letter-spacing:-0.25px;
  line-height: 120%;
  text-transform:capitalize;
}

.footer-input-container{
  display:flex;
  flex-wrap: wrap;
  align-items:baseline;
  gap:1em;


}
.footer-input{
  width:355px;
  height:50px;
  border-radius:30px;
  border:1px solid var(--black-color);
  margin-top:2em;
  padding:1.5em
}
.footer-btn a{
  text-decoration: none;
  
}
.footer-btn{
  width:100px;
  padding:1em;
  border-radius:30px;
  border:1px solid var(--black-color);
  background-color: var(--primary-color);
}

.footer-btn:hover{
  color:var(--primary-color);
  background-color: var(--black-color);
  opacity:.8;
  cursor: pointer;
}

.footer-btn a:hover{
color:var(--primary-color)
  
}

.footer-socials{
  margin-top:2em;
  font-size:14px;
  display:flex;
  flex-wrap: wrap;
  gap:2em;
  
}

.footer-socials a{
  color:var(--black-color);
}

.footer-display-text{
  font-size: 12vw;
  font-weight: bold;
  word-wrap:break-word;
 
}

.legacy-copy{
  width:100%;
}
.legacy-copy,.right-legacy-copy{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:2em;
  font-size: 14px;
  margin:0;

}






@media (max-width: 768px) {


.hero-section{
    flex-direction: column;

}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1em;
  
}

.hero-text-container{
    display:flex;
    flex-direction: column;
    gap:2em;
  

}

.hero-heading-text{
  font-size:2.5rem;
  font-weight:600;
  line-height:100%;
  letter-spacing:-1%;
  z-index:2;
}

.hero-subheading-text{
  font-size:var(--subheading-mobile);
  font-weight:300;
  line-height:150%;
  z-index:4;
}

.hero-btn{
  background-color: var(--black-color);
  color:var(--primary-color);
  font-size:1.125rem;
  font-weight: 500;
  letter-spacing:2%;
  padding: 1em 1.5em;
  border-radius:99px;
  z-index:2;
}

.hero-img{
    width:300px;
    height:400px;
    transform:rotate(60deg);
    z-index:2;
 
   
}

/* Services-Section Styling */

.services-list-container{
   grid-template-columns: 1fr;
}

/* Footer Styling */
.footer-display-text{
  font-size: 3.7rem;
  width:100%;
}
.footer-input{
  width:100%;
}

.footer-btn{
  width:100%;
}

/* For Tablet View */
/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
} */

/* For Mobile Portrait View */
/* @media screen and (max-device-width: 480px) and (orientation: portrait) {
  body{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
} */



}